src/main/resources/mds.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions xmlns:tns="http://swpartners.com"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
    jxb:version="2.1"
	targetNamespace="http://swpartners.com">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="http://swpartners.com">
			<xs:element name="MDSExecute">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:mds" maxOccurs="1"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="mds">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:additional_parameters" minOccurs="0"
							maxOccurs="unbounded"></xs:element>
						<xs:element ref="tns:patient" minOccurs="1" maxOccurs="1"></xs:element>
					</xs:sequence>
					<xs:attribute name="asofdate" use="optional" type="xs:date"></xs:attribute>
					<xs:attribute name="base_schedule" use="optional"
						type="xs:string"></xs:attribute>
					<xs:attribute name="output_careplan" use="optional"
						type="xs:string"></xs:attribute>
					<xs:attribute name="output_validated_history" use="optional"
						type="xs:string"></xs:attribute>
					<xs:attribute name="output_forecast" use="optional"
						type="xs:string"></xs:attribute>
					<xs:attribute name="output_event_queue" use="optional"
						type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="additional_parameters">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="name" use="required" type="xs:string"></xs:attribute>
							<xs:attribute name="value" use="required" type="xs:string">
							 <!-- rename property generated by JAXB (avoiding "Value" name conflict) -->
				                <xs:annotation>
				                    <xs:appinfo>
				                        <jxb:property name="valueAttribute"/>
				                    </xs:appinfo>
				                </xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="patient">
				<xs:complexType>
					<xs:sequence minOccurs="1" maxOccurs="unbounded">
						<xs:element ref="tns:observation" maxOccurs="unbounded"
							minOccurs="0"></xs:element>
						<xs:element ref="tns:dose" maxOccurs="unbounded"
							minOccurs="0"></xs:element>
						<xs:element ref="tns:careplan" maxOccurs="unbounded"
							minOccurs="0"></xs:element>
						<xs:element ref="tns:validated_dose" maxOccurs="unbounded"
							minOccurs="0"></xs:element>
						<xs:element ref="tns:forecast" maxOccurs="unbounded"
							minOccurs="0"></xs:element>
						<xs:element ref="tns:grouped_forecast" maxOccurs="unbounded"
							minOccurs="0"></xs:element>
						<xs:element ref="tns:event_queue" maxOccurs="unbounded"
							minOccurs="0"></xs:element>
					</xs:sequence>
					<xs:attribute name="dob" use="required" type="xs:date"></xs:attribute>
					<xs:attribute name="gender" use="optional" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="observation">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="code" use="required" type="xs:integer"></xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="doseType">
				<xs:attribute name="id" use="optional" type="xs:string"></xs:attribute>
				<xs:attribute name="name" use="optional" type="xs:string"></xs:attribute>
				<xs:attribute name="date" use="required" type="xs:date"></xs:attribute>
				<xs:attribute name="cvx" use="required" type="xs:integer"></xs:attribute>
			</xs:complexType>
			<xs:complexType name="validatedDoseType">
				<xs:complexContent>
					<xs:extension base="tns:doseType">
						<xs:attribute name="antigen_name" use="optional"
							type="xs:string"></xs:attribute>
						<xs:attribute name="series_name" use="optional" type="xs:string"></xs:attribute>
						<xs:attribute name="dosenum" use="optional" type="xs:integer"></xs:attribute>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="dose" type="tns:doseType">
			</xs:element>
			<xs:element name="validated_dose" type="tns:validatedDoseType">
			</xs:element>
			<xs:complexType name="baseForecastType">
				<xs:attribute name="id" use="optional" type="xs:string"></xs:attribute>
				<xs:attribute name="dosenum" use="required" type="xs:integer"></xs:attribute>
				<xs:attribute name="eligdate" use="optional" type="xs:date"></xs:attribute>
				<xs:attribute name="mindate" use="optional" type="xs:date"></xs:attribute>
				<xs:attribute name="recommendeddate" use="optional"
					type="xs:date"></xs:attribute>
				<xs:attribute name="pastduedate" use="optional" type="xs:date"></xs:attribute>
				<xs:attribute name="latedate" use="optional" type="xs:date"></xs:attribute>
				<xs:attribute name="recommended_cvx" use="required"
					type="xs:string"></xs:attribute>
				<xs:attribute name="allowable_cvx" use="required" type="xs:string"></xs:attribute>
			</xs:complexType>
			<xs:complexType name="forecastType">
				<xs:complexContent>
					<xs:extension base="tns:baseForecastType">
						<xs:attribute name="antigen_name" use="required"
							type="xs:string"></xs:attribute>
						<xs:attribute name="series_name" use="required" type="xs:string"></xs:attribute>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="groupedForecastType">
				<xs:complexContent>
					<xs:extension base="tns:baseForecastType">
						<xs:attribute name="group_name" use="required" type="xs:string"></xs:attribute>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="forecast" type="tns:forecastType">
			</xs:element>
			<xs:element name="grouped_forecast" type="tns:groupedForecastType">
			</xs:element>
			<xs:element name="careplan">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:antigen" maxOccurs="unbounded"
							minOccurs="0"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="antigen">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:series" maxOccurs="unbounded"
							minOccurs="0"></xs:element>
					</xs:sequence>
					<xs:attribute name="name" use="required" type="xs:string"></xs:attribute>
					<xs:attribute name="status" use="required" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="series">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:series_dose" maxOccurs="unbounded"
							minOccurs="0"></xs:element>
					</xs:sequence>
					<xs:attribute name="name" use="required" type="xs:string"></xs:attribute>
					<xs:attribute name="status" use="required" type="xs:string"></xs:attribute>
					<xs:attribute name="maxstartage" use="optional" type="xs:string"></xs:attribute>
					<xs:attribute name="dosenum" use="optional" type="xs:integer"></xs:attribute>
					<xs:attribute name="eligdate" use="optional" type="xs:date"></xs:attribute>
					<xs:attribute name="mindate" use="optional" type="xs:date"></xs:attribute>
					<xs:attribute name="recommendeddate" use="optional"
						type="xs:date"></xs:attribute>
					<xs:attribute name="pastduedate" use="optional" type="xs:date"></xs:attribute>
					<xs:attribute name="latedate" use="optional" type="xs:date"></xs:attribute>
					<xs:attribute name="recommended_cvx" use="optional"
						type="xs:string"></xs:attribute>
					<xs:attribute name="allowable_cvx" use="optional"
						type="xs:string"></xs:attribute>
					<xs:attribute name="is_eligible" use="optional" type="xs:string"></xs:attribute>
					<xs:attribute name="is_min_recommended" use="optional"
						type="xs:string"></xs:attribute>
					<xs:attribute name="is_recommended" use="optional"
						type="xs:string"></xs:attribute>
					<xs:attribute name="is_late" use="optional" type="xs:string"></xs:attribute>
					<xs:attribute name="is_past_due" use="optional" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="series_dose">
				<xs:complexType>
					<xs:attribute name="dosenum" use="required" type="xs:integer"></xs:attribute>
					<xs:attribute name="status" use="required" type="xs:string"></xs:attribute>
					<xs:attribute name="admindate" use="optional" type="xs:date"></xs:attribute>
					<xs:attribute name="cvx" use="optional" type="xs:string"></xs:attribute>
					<xs:attribute name="immunizationid" use="optional"
						type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="event_queue">
				<xs:complexType>
					<xs:sequence minOccurs="1" maxOccurs="2">
						<xs:element ref="tns:event_queue_detail" maxOccurs="unbounded"
							minOccurs="0"></xs:element>
					</xs:sequence>
					<xs:attribute name="careplan_id" use="optional" type="xs:integer"></xs:attribute>
					<xs:attribute name="careplan_date" use="optional"
						type="xs:date"></xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="event_queue_detail">
				<xs:complexType>
					<xs:sequence minOccurs="1" maxOccurs="2">
						<xs:element ref="tns:event" maxOccurs="unbounded"
							minOccurs="0"></xs:element>
					</xs:sequence>
					<xs:attribute name="processed" use="optional" type="xs:integer"></xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="event">
				<xs:complexType>
					<xs:attribute name="event_date" use="required" type="xs:date"></xs:attribute>
					<xs:attribute name="event_category" use="required"
						type="xs:string"></xs:attribute>
					<xs:attribute name="priority" use="optional" type="xs:integer"></xs:attribute>
					<xs:attribute name="processed" use="optional" type="xs:integer"></xs:attribute>
					<xs:attribute name="event_type" use="optional" type="xs:string"></xs:attribute>
					<xs:attribute name="event_label" use="optional" type="xs:string"></xs:attribute>
					<xs:attribute name="antigen_name" use="optional" type="xs:string"></xs:attribute>
					<xs:attribute name="series_name" use="optional" type="xs:string"></xs:attribute>
					<xs:attribute name="dosenum" use="optional" type="xs:integer"></xs:attribute>
					<xs:attribute name="cvx" use="optional" type="xs:integer"></xs:attribute>
					<xs:attribute name="immunizationid" use="optional"
						type="xs:string"></xs:attribute>
					<xs:attribute name="description" use="optional" type="xs:string"></xs:attribute>
					<xs:attribute name="state" use="optional" type="xs:integer"></xs:attribute>
					<xs:attribute name="cvx_list" use="optional" type="xs:string"></xs:attribute>
					<xs:attribute name="set_id" use="optional" type="xs:integer"></xs:attribute>
					<xs:attribute name="condition_id" use="optional" type="xs:integer"></xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="nextvisitdate">
				<xs:complexType>
					<xs:attribute name="date" use="required" type="xs:date"></xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="comment">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:text"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="text">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:value"></xs:element>
					</xs:sequence>
					<xs:attribute name="type" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="xs:string"></xs:element>
			<xs:element name="MDSExecuteFault" type="tns:MDSExecuteFault"></xs:element>
			<xs:complexType name="MDSExecuteFault">
				<xs:sequence>
					<xs:element name="faultInfo" type="xs:string"></xs:element>
					<xs:element name="message" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</types>
	<message name="MDSExecute">
		<part name="input" element="tns:MDSExecute"></part>
	</message>
	<message name="MDSExecuteResponse">
		<part name="result" element="tns:MDSExecute"></part>
	</message>
	<message name="MDSExecuteFault">
		<part name="fault" element="tns:MDSExecuteFault"></part>
	</message>
	<message name="MDSReload"></message>
	<message name="MDSReloadResponse"></message>
	<portType name="MDSWebServicePort">
		<operation name="MDSExecute">
			<input message="tns:MDSExecute"></input>
			<output message="tns:MDSExecuteResponse"></output>
			<fault name="MDSExecuteFault" message="tns:MDSExecuteFault"></fault>
		</operation>
		<operation name="MDSReload">
			<input message="tns:MDSReload"></input>
			<output message="tns:MDSReloadResponse"></output>
		</operation>
	</portType>
	<binding type="tns:MDSWebServicePort" name="MDSWebServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
		<operation name="MDSExecute">
			<soap:operation style="document" soapAction="MDSExecute"></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="MDSExecuteFault">
				<soap:fault name="MDSExecuteFault" use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="MDSReload">
			<soap:operation style="document" soapAction="MDSReload"></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
	</binding>
	<service name="MDSWebService">
		<port name="MDSWebServicePort" binding="tns:MDSWebServicePort">
			<soap:address location="http://testws.swpartners.com:80/mdsservice/mds"></soap:address>
		</port>
	</service>
</definitions>